In [72]:
library(class)

Reading the data from CSV into data frame.

In [146]:
German <-read.csv("Desktop/german_credit_data1.csv",stringsAsFactors=FALSE)

In [3]:
head(German)

  X. Age Sex    Job Housing Saving.accounts Checking.account Credit.amount
1 0  67  male   2   own     NA              little           1169
2 1  22  female 2   own     little          moderate         5951
3 2  49  male   1   own     little          NA               2096
4 3  45  male   2   free    little          little           7882
5 4  53  male   2   free    little          little           4870
6 5  35  male   1   free    NA              NA               9055
  Duration Purpose             Credit.Risks
1  6       radio/TV            1
2 48       radio/TV            2
3 12       education           1
4 42       furniture/equipment 1
5 24       car                 2
6 36       education           1

Normalise the required columns. [1]

In [147]:
German$X <- NULL
German$Purpose <- NULL
German$Age <- scale(German$Age)
German$Credit.amount <- scale(German$Credit.amount)
German$Duration <- scale(German$Duration)

Data after scaling.

In [57]:
head(German)

  Age         Sex Job Housing Saving.accounts Checking.account Credit.amount
1  2.76507291 2   2   2       1               2                -0.7447588
2 -1.19080809 1   2   2       2               3                 0.9493418
3  1.18272051 2   1   2       2               1                -0.4163541
4  0.83108664 2   2   1       2               2                 1.6334296
5  1.53435438 2   2   1       2               2                 0.5663801
6 -0.04799802 2   1   1       1               1                 2.0489838
  Duration   Credit.Risks
1 -1.2358595 1
2  2.2470700 2
3 -0.7382981 1
4  1.7495086 1
5  0.2568246 2
6  1.2519473 1

Factoring the required columns.

In [148]:
German[is.na(German)] <- "N/A"
German$Sex <- factor(German$Sex, labels = c("1","2"))
German$Housing <- factor(German$Housing, labels = c("1","2","3"))
German$Saving.accounts <- factor(German$Saving.accounts, labels = c("1","2","3","4","5"))
German$Checking.account <- factor(German$Checking.account, labels = c("1","2","3","4"))

Data after Factoring.

In [53]:
head(German)

  Age         Sex Job Housing Saving.accounts Checking.account Credit.amount
1  2.76507291 2   2   2       1               2                -0.7447588
2 -1.19080809 1   2   2       2               3                 0.9493418
3  1.18272051 2   1   2       2               1                -0.4163541
4  0.83108664 2   2   1       2               2                 1.6334296
5  1.53435438 2   2   1       2               2                 0.5663801
6 -0.04799802 2   1   1       1               1                 2.0489838
  Duration   Credit.Risks
1 -1.2358595 1
2  2.2470700 2
3 -0.7382981 1
4  1.7495086 1
5  0.2568246 2
6  1.2519473 1

Applying knn for k = 0.8 and calculating misclassification rate.

In [149]:
n.points <- nrow(German)
sampling.rate <- 0.8
training <- sample(1:n.points,0.8 * npoints, replace = FALSE)
train <- subset(German[training,],)
testing <- setdiff(1:n.points, training) 
test_set_labels <- 0.2 * n.points
test<-subset(German[testing,],)
cr<- German$Credit.Risks[training]
truelabels <- German$Credit.Risks[testing]  
error_rate <- data.frame()   
for (k in 1:20){
    
        predicted <- knn(train, test, cr, k)     
        incorrectlabels <- sum(predicted != truelabels)   
        misclassification_rate1 <- incorrectlabels / test_set_labels
        print(misclassification_rate1)
        #error_rate <- c(misclassification_rate1)
        error_rate<-rbind(error_rate,c(k,misclassification_rate1))
    }

[1] 0.35
[1] 0.37
[1] 0.355
[1] 0.37
[1] 0.365
[1] 0.34
[1] 0.33
[1] 0.315
[1] 0.335
[1] 0.305
[1] 0.305
[1] 0.31
[1] 0.295
[1] 0.305
[1] 0.29
[1] 0.3
[1] 0.32
[1] 0.32
[1] 0.33
[1] 0.33

Applying knn for k = 0.7 and calculating misclassification rate.

In [151]:
n.points <- nrow(German)
sampling.rate <- 0.7
training <- sample(1:n.points,0.7 * npoints, replace = FALSE)
train <- subset(German[training,],)
testing <- setdiff(1:n.points, training) 
test_set_labels <- 0.3 * n.points
test<-subset(German[testing,],)
cr<- German$Credit.Risks[training]
truelabels <- German$Credit.Risks[testing]    
for (k in 1:20){
    
        predicted <- knn(train, test, cr, k)     
        incorrectlabels <- sum(predicted != truelabels)   
        misclassification_rate2 <- incorrectlabels / test_set_labels
        print(misclassification_rate2)
        error_rate[k,3]<-misclassification_rate2
    }

[1] 0.3933333
[1] 0.4333333
[1] 0.4033333
[1] 0.3633333
[1] 0.3433333
[1] 0.3433333
[1] 0.32
[1] 0.33
[1] 0.3366667
[1] 0.3366667
[1] 0.34
[1] 0.3466667
[1] 0.35
[1] 0.34
[1] 0.3366667
[1] 0.3433333
[1] 0.3366667
[1] 0.3366667
[1] 0.3266667
[1] 0.3333333

Applying knn for k = 0.6 and calculating misclassification rate.

In [153]:
n.points <- nrow(German)
sampling.rate <- 0.6
training <- sample(1:n.points,0.6 * npoints, replace = FALSE)
train <- subset(German[training,],)
testing <- setdiff(1:n.points, training) 
test_set_labels <- 0.4 * n.points
test<-subset(German[testing,],)
cr<- German$Credit.Risks[training]
truelabels <- German$Credit.Risks[testing]    
for (k in 1:20){
    
        predicted <- knn(train, test, cr, k)     
        incorrectlabels <- sum(predicted != truelabels)   
        misclassification_rate3 <- incorrectlabels / test_set_labels
        print(misclassification_rate3)
        error_rate[k,4]<-misclassification_rate3
    }

[1] 0.315
[1] 0.3725
[1] 0.3625
[1] 0.3425
[1] 0.3375
[1] 0.305
[1] 0.315
[1] 0.325
[1] 0.3
[1] 0.29
[1] 0.2825
[1] 0.2875
[1] 0.2825
[1] 0.2925
[1] 0.2775
[1] 0.2775
[1] 0.28
[1] 0.2825
[1] 0.2775
[1] 0.2825

Applying knn for k = 0.5 and calculating misclassification rate.

In [154]:
n.points <- nrow(German)
sampling.rate <- 0.5
training <- sample(1:n.points,0.5 * npoints, replace = FALSE)
train <- subset(German[training,],)
testing <- setdiff(1:n.points, training) 
test_set_labels <- 0.5 * n.points
test<-subset(German[testing,],)
cr<- German$Credit.Risks[training]
truelabels <- German$Credit.Risks[testing]    
for (k in 1:20){
    
        predicted <- knn(train, test, cr, k)     
        incorrectlabels <- sum(predicted != truelabels)   
        misclassification_rate4 <- incorrectlabels / test_set_labels
        print(misclassification_rate4)
        error_rate[k,5]<-misclassification_rate4
    }

[1] 0.398
[1] 0.4
[1] 0.362
[1] 0.35
[1] 0.34
[1] 0.344
[1] 0.342
[1] 0.34
[1] 0.336
[1] 0.336
[1] 0.332
[1] 0.336
[1] 0.324
[1] 0.326
[1] 0.322
[1] 0.342
[1] 0.326
[1] 0.322
[1] 0.326
[1] 0.328

Assigning column names.

In [156]:
names(error_rate) <- c("k","k=0.8","k=0.7","k=0.6","k=0.5")
error_rate

   k  k=0.8 k=0.7     k=0.6  k=0.5
1   1 0.350 0.3933333 0.3150 0.398
2   2 0.370 0.4333333 0.3725 0.400
3   3 0.355 0.4033333 0.3625 0.362
4   4 0.370 0.3633333 0.3425 0.350
5   5 0.365 0.3433333 0.3375 0.340
6   6 0.340 0.3433333 0.3050 0.344
7   7 0.330 0.3200000 0.3150 0.342
8   8 0.315 0.3300000 0.3250 0.340
9   9 0.335 0.3366667 0.3000 0.336
10 10 0.305 0.3366667 0.2900 0.336
11 11 0.305 0.3400000 0.2825 0.332
12 12 0.310 0.3466667 0.2875 0.336
13 13 0.295 0.3500000 0.2825 0.324
14 14 0.305 0.3400000 0.2925 0.326
15 15 0.290 0.3366667 0.2775 0.322
16 16 0.300 0.3433333 0.2775 0.342
17 17 0.320 0.3366667 0.2800 0.326
18 18 0.320 0.3366667 0.2825 0.322
19 19 0.330 0.3266667 0.2775 0.326
20 20 0.330 0.3333333 0.2825 0.328